.theme-slack {
  --background: oklch(1.00 0 0);
  --foreground: oklch(0.23 0 0);
  --card: oklch(0.98 0 0);
  --card-foreground: oklch(0.23 0 0);
  --popover: oklch(0.98 0 0);
  --popover-foreground: oklch(0.23 0 0);
  --primary: oklch(0.37 0.14 323.40);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.96 0.01 311.36);
  --secondary-foreground: oklch(0.31 0.11 327.10);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.49 0 0);
  --accent: oklch(0.88 0.02 323.34);
  --accent-foreground: oklch(0.31 0.11 327.10);
  --destructive: oklch(0.59 0.22 11.39);
  --border: oklch(0.91 0 0);
  --input: oklch(0.91 0 0);
  --ring: oklch(0.37 0.14 323.40);
  --chart-1: oklch(0.31 0.11 327.10);
  --chart-2: oklch(0.37 0.14 323.40);
  --chart-3: oklch(0.59 0.22 11.39);
  --chart-4: oklch(0.77 0.13 222.66);
  --chart-5: oklch(0.69 0.14 160.27);
  --sidebar: oklch(0.96 0.01 311.36);
  --sidebar-foreground: oklch(0.23 0 0);
  --sidebar-primary: oklch(0.37 0.14 323.40);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.88 0.02 323.34);
  --sidebar-accent-foreground: oklch(0.31 0.11 327.10);
  --sidebar-border: oklch(0.91 0 0);
  --sidebar-ring: oklch(0.37 0.14 323.40);

  --font-sans: Lato, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Roboto Mono, monospace;

  --radius: 0.5rem;
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
  
}

.theme-slack.dark {
  --background: oklch(0.23 0.01 260.69);
  --foreground: oklch(0.93 0 0);
  --card: oklch(0.26 0.01 260.70);
  --card-foreground: oklch(0.93 0 0);
  --popover: oklch(0.26 0.01 260.70);
  --popover-foreground: oklch(0.93 0 0);
  --primary: oklch(0.58 0.14 327.21);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.30 0.01 254.00);
  --secondary-foreground: oklch(0.93 0 0);
  --muted: oklch(0.26 0.01 260.70);
  --muted-foreground: oklch(0.68 0 0);
  --accent: oklch(0.33 0.03 326.28);
  --accent-foreground: oklch(0.93 0 0);
  --destructive: oklch(0.59 0.22 11.39);
  --border: oklch(0.30 0.01 268.37);
  --input: oklch(0.30 0.01 268.37);
  --ring: oklch(0.58 0.14 327.21);
  --chart-1: oklch(0.58 0.14 327.21);
  --chart-2: oklch(0.77 0.13 222.66);
  --chart-3: oklch(0.69 0.14 160.27);
  --chart-4: oklch(0.59 0.22 11.39);
  --chart-5: oklch(0.80 0.15 82.32);
  --sidebar: oklch(0.23 0.01 260.69);
  --sidebar-foreground: oklch(0.93 0 0);
  --sidebar-primary: oklch(0.58 0.14 327.21);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.33 0.03 326.28);
  --sidebar-accent-foreground: oklch(0.93 0 0);
  --sidebar-border: oklch(0.30 0.01 268.37);
  --sidebar-ring: oklch(0.58 0.14 327.21);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

